
@import "tailwindcss";

@theme {
   --font-poppins:var(--font-poppins);
   --font-roboto: var(--font-poppins);
    @keyframes fade-in-scale {
    0% {
      opacity: 0;
      transform: scale(0.05);
    }
    100% {
      opacity: 1;
      transform: scale(1.5);
    }
  }
}